
baseURL = "https://jeremyjanin.com"
languageCode = "fr"
DefaultContentLanguage = "fr"
theme = "less"
googleAnalytics = "UA-15907591-1"
RemovePathAccents = true
timeout = 200000
enableRobotsTXT = true
canonifyURLs = true
paginate = 12


[author]
  name = "Jeremy Janin"

[build]
  writeStats = true

[permalinks]
  posts = "/:slug"
  categories = "/:slug"
  projects = "/:slug"

[imaging]
  resampleFilter = "lanczos"

[params]
  sizes = [ "2048" , "1024" , "512" ]
  tags = []

  sansSerifFont = "Helvetica Neue"
  titleFont = "DIN Alternate"
  bodyFont = "Times New Roman"

  hasLogo = true
  accentColor = "#777777"

#heroHeader = false

[taxonomies]
  category = "categories"

[params.titles]
  posts = "Journal"
  categories = "Catégories"

[params.social]
  email = "hello@jeremyjanin.com"
  domain = "Jeremy Janin"
  threads = "jeremyjanin"
  instagram = "jeremy.janin"
  youtube = "djisupertramp"


[params.tinyletter]
  username = "captainyvon"
  title = "Abonnez-vous à ma newsletter « Slow is beautiful »"
  description = "Écrite avec mon ami Greg, chaque 1er du mois on partage nos réflexions, nos dernières trouvailles et inspirations sur tous les sujets qui nous passionnent."

[[menu.main]]
  name = "PORTFOLIO"
  title = "PORTFOLIO"
  weight = 1
  identifier = "portfolio"
  url = "/"
[[menu.main]]
  name = "BLOG"
  title = "BLOG"
  weight = 2
  identifier = "blog"
  url = "/posts/"
  [[menu.main]]
    name = "MOMENTS"
    title = "MOMENTS"
    weight = 3
    identifier = "Moments"
    url = "/moments"
[[menu.main]]
  name = "BLOG"
  title = "BLOG"
  weight = 4
  identifier = "blog"
  url = "/posts/"
[[menu.main]]
  name = "ABOUT"
  title = "Infos & Contact"
  weight = 4
  identifier = "about"
  url = "/about"

[[related.indices]]
  name = "categories"
  weight =  1 # We don't really need this, but omitting it would disable the indice.
  includeNewer = true

[markup.goldmark.renderer]
  unsafe= true
[security.exec]
  osEnv = ['.*']
