<footer class="w-full p-12 text-base">
 <div class="container max-w-4xl mx-auto justify-center grid grid-cols-1 lg:grid-cols-4 gap-4">
  <div class="w-72">
    <ul>
      <li><a href="/now/" class="no-underline hover:underline">à propos</a></li>
      <li><a href="/equipement/" class="no-underline hover:underline">mon équipement</a></li>
      </br>
      <li><a href="mailto:{{ $.Site.Params.social.email }}" class="no-underline hover:underline">hello@jeremyjanin.com</a></li>

  </div>
  <div class="w-72">
    <!--Should be template -->
    <ul>
      <li><a href="/aventures/" class="no-underline hover:underline">aventures</a></li>
      <li><a href="/MYOG/" class="no-underline hover:underline">make your own gear</a></li>
      <li><a href="/materiel/" class="no-underline hover:underline">materiel</a></li>
      <li><a href="/reflexions/"class="no-underline hover:underline">reflexions</a></li>

  </div>
  <div class="w-72 text-l max-w-4xl">
      <ul>
      <li><a href="https://captainyvon.fr/" target="_blank" class="no-underline hover:underline">Captain Yvon Studio</a></li>
      <li><a href="http://slowisbeautiful.cool" target="_blank" class="no-underline hover:underline">Slow is Beautiful</a></li>
      </br>
  © {{ now.Format "2006"}} {{ $.Site.Params.social.domain }}</br>
  </div>
 </div>
</footer>
