<footer class="w-full p-12 text-sm">
 <div class="container max-w-4xl w-full mx-auto flex flex-col justify-between md:flex-row gap-4">
   <div class="text-left">
     <ul>
      <li><a href="/now/" class="no-underline">à propos</a></li>
      <li><a href="/equipement/" class="no-underline">mon équipement</a></li>
      <li><a href="/posts/index.xml" class="no-underline">flux RSS</a></li>
      <li><a href="mailto:{{ $.Site.Params.social.email }}" class="no-underline">hello@jeremyjanin.com</a></li>
     </ul>
  </div>
  <div class="text-center">
    <ul>
      <li><a href="/aventures/" class="no-underline">aventures</a></li>
      <li><a href="/MYOG/" class="no-underline">make your own gear</a></li>
      <li><a href="/materiel/" class="no-underline">materiel</a></li>
      <li><a href="/reflexions/" class="no-underline">reflexions</a></li>
     </ul>
  </div>
  <div class="md:text-right">
    <ul>
      <li><a href="https://captainyvon.fr/" target="_blank" class="no-underline">Captain Yvon Studio</a></li>
      <li><a href="http://slowisbeautiful.cool" target="_blank" class="no-underline">Slow is Beautiful</a></li>
     </ul>
  </div>

 </div>
</footer>
