{{ if .Site.Params.tinyletter.username }}

<p style="max-width: 40rem!important;margin: auto;margin-bottom: 60px;margin-top: -30px;">Envie d'échanger sur le sujet ? Rejoins-moi sur <a href="https://www.threads.net/@jeremy.janin" target="_blank">Threads</a>, <a href="https://instagram.com/{{ .Site.Params.social.instagram }}" target="_blank">Instagram</a> & <a href="https://twitter.com/{{ .Site.Params.social.twitter }}" target="_blank">Twitter</a>.
</p>


<div style="max-width: 40rem!important;margin: auto;margin-bottom: 60px;background-color: #F3F3F3;padding:42px; text-align:left;">

<h2 style="margin-bottom: 10px;">🎙️ « Slow is beautiful » - Le podcast</h2>
      <p style="margin-bottom: 20px;">
      Un atelier sonore où j'explore avec Jeremy nos passions communes : création, techniques, outdoor... Notre espace pour ralentir et mieux nous comprendre. <a href="http://slowisbeautiful.cool" target="_blank">En savoir plus →</a></p>

</div>

{{ end }}
