{{ define "main" }}
<div class="mb-8 container max-w-4xl mx-auto">
  <h1 class="mb-2 text-2xl text-center mx-4 md:mx-0">{{ .Title }}</h1>
  <p class="text-center mx-4 md:mx-0">{{ .Params.subtitle }}</p>
</div>

{{ $allimages := slice }}
{{ range sort (.Resources.ByType "image") "Name" "desc" }}
  {{ $allimages = $allimages | append (dict "Image" .) }}
{{ end }}

{{ $rows := dict }}
{{ $columns := dict }}
{{ range $index, $img := $allimages }}
  {{ $columns = merge $columns (dict (string (mod $index 3)) (dict "Images" (slice $img))) }}
  {{ if eq (mod $index 3) 2 }}
    {{ $rowKey := printf "%05d" (div $index 3) }}
    {{ $rows = merge $rows (dict $rowKey $columns) }}
    {{ $columns = dict }}
  {{ end }}
{{ end }}
{{ if gt (len $columns) 0 }}
  {{ $rowKey := printf "%05d" (len $rows) }}
  {{ $rows = merge $rows (dict $rowKey $columns) }}
{{ end }}

<div data-pswp class="w-full px-6">
  {{ partial "grid" $rows }}
</div>
{{ end }}
